exportPattern("^[[:alpha:]]+")
# matching what sos does with "?" to export:
export("!")
# do NOT do this with data! export("ascarr")
importFrom("methods", "slot", "slotNames")
importFrom("stats", "median", "sd", "setNames", "var")
importFrom("utils", "head", "object.size")
importFrom("grDevices", "dev.new")
importFrom("graphics","plot", "lines", "points")
importFrom("gmp", "as.bigz", "is.bigz")
